# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data & models (large files, not versioned)
*.parquet
*.csv
*.tsv
*.bin
*.safetensors

# OS
.DS_Store
Thumbs.db

# Dossiers privés
notebook/
data/
docs/

# Fichier privé dans un dossier public
src/ADG_stega.py